<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    {{!-- HEADER --}}
    <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="/images/about.png" alt="bhavika" class="image-fluid">
                        </figure>
                    
                    </div>
                    <div class="col-md-6 col-12 main_header_right home_header_right">
                        <p>Welcome to bhavika's world</p>
                        <h1>I am a <span class="txt_clr">web developer</span></h1>
                        <a href="/me"><button>About Me</button></a>              
                                           
                    </div>
                </div>
            </div>
        </div>
    </div>




    {{>footer}}
    
</body>
</html>